body {
	font-family: 'Roboto', sans-serif;
}
a, a:hover, a:focus {
	text-decoration: none;
	color: inherit;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1, .h1,
h2, .h2 {
	color: $font-color-default;
	font-size: $font-size-large;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	font-weight: 700;
}

p, .p {
	font-size: $font-size-base;
	line-height: 1.57;	
}

input[type="text"] {
	width: 100%;
	padding: 10px 50px;
	border: 1px solid #eaeaea;
}