.btn {
	min-width: 160px;
	padding: 9px;
	position: relative;
	display: inline-block;
	border: none;
	font-size: $font-size-medium;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.3px;
	line-height: 1.78;
	font-weight: 700;
	cursor: pointer;
	transition: .3s;
	outline: none;
	z-index: 1;
	&::after {
		content: "";
		width: 90%;
		height: 100%;
		position: absolute;
		left: 5%;
		right: 5%;
		top: 10px;
		display: block;
		filter: blur(10px);
		opacity: 0.5;
		z-index: -1;
		transition: all .4s ease;
	}
	&:hover {
		text-decoration: none;
		&::after {
			top: 15px;
		}
	}
	&:focus {
		&::after {
			top: 5px;
		}
	}
	&--primary {
		background-color: $accent-color;
		color: $font-color-button-primary;
		&::after {
			background-color: $accent-color;
		}
		&:hover {
			background-color: $accent-color-hover;
		}
		&:focus {
			background-color: $accent-color-active;
		}
	}
	&--secondary {
		background-color: $black;
		color: $font-color-button-secondary;
		&::after {
			background-color: $black;
		}
	}
}