.questions {
	padding: 30px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-item: center;
	background-color: $black;
	background-image: url(../images/bg-animated.gif); // fallback for older browsers
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url(../images/bg-animated.gif);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	@media screen and (max-width: $sm) {
		background-size: cover;
	}
	&__list {
		flex: 1;
		display: flex;
	    flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__item {
		text-transform: uppercase;
		font-size: 35px;
		text-align: center;
		font-weight: 700;
		color: $white;
		display: none;
		opacity: 0;
	}
}

.helper {
	@media screen and (max-width: $sm) {
		display: none;
	}
}
.call-to-action {
	padding: 30px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $accent-color url(../images/bg@2x.jpg) center no-repeat;
	background-size: cover;
	@media screen and (max-width: $lg) {
		background-image: url(../images/bg@0x.jpg);
	}
	@media screen and (max-width: $sm) {
		padding: 60px 30px;
	}
	&__content {
		flex: 1;
		display: flex;
		align-items: center;
		@media screen and (max-width: $lg) {
			width: 100%;
			align-items: flex-end;
		}
	}
	&__title {
		font-size: 140px;
		font-weight: 700;
		line-height: 0.86;
		text-transform: uppercase;
		color: $white;
		span {
			position: relative;
			@media screen and (max-width: $lg) {
				display: block;
			}
		}
		@media screen and (max-width: $sm) {
			font-size: 72px;
			span {
				display: block;
			}
		}
	}
}

.main-info {
	min-height: 100vh;
	padding: 60px 0;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@media screen and (max-width: $lg) {
		max-width: 80%;
		margin: auto;
	}
	@media screen and (max-width: $sm) {
		width: 100%;
		padding: 30px 0;
	}
	&__content {
		position: relative;
	}
	&__button {
		margin-top: 30px;
	}
	&__faq {
		transform: rotate(-90deg);
		transform-origin: 100%;
	}
	&__footer {
		@media screen and (max-width: $sm) {
			text-align: center;
		}
	}
}

.faq {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	@media screen and (max-width: $sm) {
		display: none;
	}
	&__item {
		margin: 0 10px;
		font-weight: 700;
		font-size: $font-size-small;
		letter-spacing: 2px;
	}
}

.modal {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: rgba(255, 193, 0, 0.9);
    z-index: 10;
	display: none;
	&[flip-active="true"] {
		background-color: rgba(0, 0, 0, 0.9);
	}
	&-inner {
	    margin-top: 20vh;
		min-width: 340px;
		display: flex;
		flex-direction: column;
		@media screen and (max-width: $sm) {
			margin: 10px;
			min-width: auto;
			width: 100%;
		}
	}
	&-side {
		width: 100%;
		min-height: 450px;
		padding: 28px 20px;
		background-color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		&--revert {
			background-color: #000;
			color: #fff;
		}
		@media screen and (max-width: $sm) {
			min-height: auto;
		}
	}
	&__head {
		padding-bottom: 50px;
		text-align: left;
		font-weight: 600;
		font-size: $font-size-medium;
		@media screen and (max-width: $sm) {
			padding-bottom: 5px;
		}
	}
	&__body {
		padding: 20px 0;
	}
	&__footer {
		padding: 20px 0 10px;
	}
	&__feature {
		padding-top: 40px;
		@media screen and (max-width: $sm) {
			padding-top: 25px;
		}
	}
	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		transform: rotate(-90deg);
		transform-origin: 100%;
		font-size: $font-size-small;
		font-weight: 600;
		line-height: 1.2;
		letter-spacing: 2px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		&--revert {
			color: #fff;
		}
	}
}

.calculating {
	font-weight: 600;
	&__text {
		font-size: $font-size-small;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	&__value {
		padding: 10px 0;
		line-height: 1;
		font-size: $font-size-huge;
	}
}

.warning {
	display: flex;
	flex-direction: column;
	justify-content: center;
	&__sign {
		font-size: $font-size-huge;
		font-weight: 600;
	}
	&__message {
		margin: 20px 0;
		font-size: $font-size-medium;
		font-weight: 600;
		letter-spacing: 0.3px;
		line-height: 1.78;
		&--small {
			font-size: $font-size-small;
		}
	}
}