/* Breakpoints */

$sm: 576px;
$md: 667px;
$lg: 991px;
$xl: 1200px;

/* Main colors */

$accent-color: #ffce0d;
$accent-color-hover: #ffda45;
$accent-color-active: #ffbc0e;

$black: #000;
$white: #fff;

$form-border-color: #ffc619;

$form-invalid-border-color: #ff0000;
$form-invalid-bg-color: #fdeded;

$font-size-huge: 64px;
$font-size-large: 24px;
$font-size-medium: 18px;
$font-size-base: 14px;
$font-size-small: 10px;

$font-color-default: $black;
$font-color-button-primary: $black;
$font-color-button-secondary: $white;

$border-radius-default: 3px;

